@import '../../scss/variables';

.board_ui {

  &__button {
    @extend %boxShadow;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    background: #f1f3f6;
    border: unset;
    cursor: pointer;
    border-radius: 4px;
    color: #5790ff;
    transition: all 0.2s ease-in-out;

    &__small {
      display: flex;
      padding: 8px 16px;
    }

    &__medium {
      padding: 16px 32px;
    }

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      @extend %boxShadowInset;
    }

    &:focus {
      outline: none;
      border: none;
    }

    &:disabled {
      box-shadow: unset;
      color: black;
      cursor: not-allowed;

      &:hover {
        transform: unset;
      }
    }
  }
}
