@import '../../styles/variables';

.build_ui {

  &__fullscreen {
    background-image: url('../../Icons/BG.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  &__block {
    @extend %boxShadow;

    background-color: $background;
    padding: 60px 90px;
    min-height: 500px;
    max-width: 633px;
    border-radius: 20px;
  }
}
