.createPinEditor_ui {
  background: #fff;
  width: 360px;
  height: 380px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;

  & .text-title {
    color: #ccc;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 0 0 20px;
    border: unset;
    border-bottom: 1px solid #ccc;
    width: 360px;
    resize: none;

    &::placeholder {
      color: #ccc;
    }

    &:focus {
      outline: none;
    }
  }

  & .text-content {
    color: #ccc;
    line-height: 21px;
    border: unset;
    resize: none;
    padding: 20px;
    height: 175px;

    &::placeholder {
      color: #ccc;
    }

    &:focus {
      outline: none;
    }
  }

  & .media_pane {
    position: absolute;
    width: 358px;
    bottom: 0;
    background: #f9fafb;
    box-sizing: border-box;
    padding: 20px;

    &__icons__icon {
      width: 40px;
      height: 40px;
      background: #f1f3f6;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      box-shadow: 5px 5px 10px rgba(24, 86, 180, 0.2), -5px -5px 10px #fff;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:last-of-type {
        margin-right: unset;
      }

      &:hover {
        transform: translateY(-1px);
      }

      &:active {
        box-shadow: 5px 5px 10px #fff, inset 5px 5px 10px rgba(24, 86, 180, 0.1);
      }

      & > span {
        height: 16px;
      }
    }
  }
}
