.board_ui {

  &__pin {
    display: inline-block;
    position: relative;

    & .closeBtn {
      position: absolute;
      top: 2px;
      right: 7px;
      cursor: pointer;
    }

    & textarea {
      padding: 10px;
      border: none;
      width: 50px;
      height: 50px;
      font-size: 12px;
      letter-spacing: 1.2px;
      margin: 5px;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);

      &:focus {
        outline: none;
      }
    }

    & .board_ui__pin_yellow {
      background-color: yellow;
      color: black;
    }

    & .board_ui__pin_red {
      background-color: red;
      color: white;
    }

    & .board_ui__pin_blue {
      background-color: blue;
      color: black;
    }

    & .board_ui__pin_green {
      background-color: green;
      color: white;
    }

    & .board_ui__pin_white {
      background-color: white;
      color: black;
    }
  }
}
