@import './variables';

.body_font {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.box_shadow {

  &__offset {
    @extend %boxShadow;
  }

  &__inset {
    @extend %boxShadowInset;
  }
}

.h36 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.b20l {
  @extend %b20l;
}

.b20b {
  @extend %b20b;
}

.b14l {
  @extend %b14l;
}

.b14r {
  @extend %b14r;
}

.b14b {
  @extend %b14b;
}

.ml-20 {
  margin-left: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.primary {
  color: $label;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-160 {
  margin-bottom: 160px;
}
