@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
@import './components';
@import './_flex_helpers';

// temp remove wen getting pushed

body {
  background-color: #f1f3f6;
  cursor: url('https://cdn-minio.vrgmetri.com/cdn-web.vrgmetri.com/board-ui/Crosshair.svg'), auto;
  overflow-x: hidden;
}
